<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>isParent</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>From Date</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellDatePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>isParent</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>To Date</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellDatePicker2</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<array/>
			<key>primaryTitle</key>
			<string>Account Type</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>ECOM</string>
			<key>primaryTitle</key>
			<string>ECOM</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>RECUR</string>
			<key>primaryTitle</key>
			<string>RECUR</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>CFT</string>
			<key>primaryTitle</key>
			<string>CFT</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>MOTO</string>
			<key>primaryTitle</key>
			<string>MOTO</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idSetCellAccount</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<array/>
			<key>primaryTitle</key>
			<string>Currency Type</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>EUR</string>
			<key>primaryTitle</key>
			<string>EUR</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>GBP</string>
			<key>primaryTitle</key>
			<string>GBP</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>USD</string>
			<key>primaryTitle</key>
			<string>USD</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idSetCellCurrency</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<array/>
			<key>primaryTitle</key>
			<string>Payment Type</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>AMEX</string>
			<key>primaryTitle</key>
			<string>AMEX</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>MASTERCARD</string>
			<key>primaryTitle</key>
			<string>MASTERCARD</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>MASTERCARDDEBIT</string>
			<key>primaryTitle</key>
			<string>MASTERCARDDEBIT</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>VISA</string>
			<key>primaryTitle</key>
			<string>VISA</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>PAYPAL</string>
			<key>primaryTitle</key>
			<string>PAYPAL</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idSetCellPayment</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<array/>
			<key>primaryTitle</key>
			<string>Request Type</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>AUTH</string>
			<key>primaryTitle</key>
			<string>AUTH</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>REFUND</string>
			<key>primaryTitle</key>
			<string>REFUND</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idSetCellRequest</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<array/>
			<key>primaryTitle</key>
			<string>Error Code</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>0</string>
			<key>primaryTitle</key>
			<string>0 - OK</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>70000</string>
			<key>primaryTitle</key>
			<string>70000 - DECLINE</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idSetCellErrorCode</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<array/>
			<key>primaryTitle</key>
			<string>Settled Status</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>0</string>
			<key>primaryTitle</key>
			<string>0 - Pending</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>1</string>
			<key>primaryTitle</key>
			<string>1 - Manual</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>2</string>
			<key>primaryTitle</key>
			<string>2 - Suspended</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>3</string>
			<key>primaryTitle</key>
			<string>3 - Cancelled</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>10</string>
			<key>primaryTitle</key>
			<string>10 - Settling</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>isSelected</key>
			<true/>
			<key>value</key>
			<string>100</string>
			<key>primaryTitle</key>
			<string>100 - Settled</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idCellValuePicker</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idSetCellSettledStatus</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
